/* ---- NAVBAR ---- */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary-bg-color);

  /* Because we want header to be sticky later */
  max-height: 5.5rem;
  padding: 2rem 8.4rem;
  position: relative;
}
.main-logo {
  height: 4.5rem;
}

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.6rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: var(--secondary-text-color);
  font-weight: 500;
  font-size: 1.4rem;
  font-weight: 600;
  transition: all 0.3s;
  background-color: none;
}
.main-nav-link:hover,
.main-nav-link:active {
  color: var(--accent-color);
}
.to-cta {
  padding: 1rem 2rem;
  border-radius: 5rem;
  border: 0.15rem solid var(--accent-color);
}
.to-cta:hover,
.to-cta:active {
  background-color: var(--accent-color);
  color: #242423;
}

/* mobile Nav */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: var(--tertiary-bg-color);
}

.icon-mobile-nav[name="menu-outline"] {
  display: block;
}
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/* sticky */

.sticky .header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  box-shadow: 0 2rem 2rem rgba(115, 115, 115, 0.2);
}

.sticky .section-hero {
  margin-top: 4.8rem;
}
/* ---- HERO ---- */
.section-hero {
  display: flex;
  justify-content: center;
  height: 50rem;
  max-width: 100vw;
  /* margin: 0 auto; */
  padding: 0 8.4rem;
  background-color: var(--tertiary-bg-color);
  margin-bottom: 9.6rem;
}
.hero {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 6.4rem;
}

.hero-text-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.heading-primary {
  font-size: 6.4rem;
  margin-bottom: 3rem;
  color: var(--secondary-bg-color);
  /* color: var(--accent-color); */
  text-shadow: 0 0 4rem #b8b8b8;
  /* background: -webkit-linear-gradient(45deg, #c5a656, #ddbb61);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}
.hero-description {
  font-size: 1.6rem;
  color: var(--tertiary-text-color);
  font-weight: 600;
  text-align: center;
}
.img-box {
  width: 100%;
  display: flex;
  align-items: center;
  justify-self: center;
}
.hero-img {
  height: 40rem;
  width: 100%;
  object-fit: cover;
  box-shadow: 0 0 4rem var(--shadow-color);
  border-radius: 0.5rem;
}

/* ---- ABOUT US ---- */
.about-us {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 4.8rem;
}
.about-us-grid {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  gap: 3.2rem 8rem;
  align-items: center;
  justify-content: center;
}
.about-us-text {
  max-height: 35rem;
  max-width: fit-content;
  justify-self: center;
  font-size: 1.6rem;
  color: var(--tertiary-text-color);
  letter-spacing: 0.04rem;
  line-height: 1.5;
}

.about-us-text:nth-child(2) {
  grid-column: 2 / 4;
  margin-right: 8rem;
}
.about-us-staff-pic:nth-child(3) {
  grid-column: 3/4;
}
.about-us-text:nth-child(4) {
  grid-column: -4 / -2;
  grid-row: 2/3;
  margin-left: 8rem;
}
.about-us-staff-pic {
  max-height: 35rem;
  max-width: 100%;
  object-fit: cover;
  align-self: center;
  justify-self: center;
  border-radius: 0.5rem;
  box-shadow: 0 0 4rem var(--shadow-color);
}

/* ---- GALLERY ---- */
.gallery {
  /* margin: auto 4rem; */
  position: relative;
}
.slider {
  max-width: 100vw;
  width: 100vw;
  height: 45rem;
  position: relative;
  display: flex;
  justify-content: center;
  overflow-x: hidden;
  /* background-color: var(--tertiary-bg-color); */
  border-radius: 0.5rem;
  /* margin: 3rem 0; */
}
.slide {
  width: 90rem;
  height: 100%;
  position: absolute;
  transition: all 0.4s;
  border-radius: 0.5rem;
  filter: blur(3px);
  scale: 80%;
  /* width: 100%;
  height: 100%; */
  object-fit: cover;
  overflow-x: hidden;
}

.slide-active {
  filter: blur(0px);
  scale: 100%;
  z-index: 2;
  width: 90rem;
  /* transform: translateX(-100%); */
}

.btn {
  position: absolute;
  z-index: 10;
  border: none;
  display: flex;
  align-self: center;
  justify-self: center;
  background-color: var(--shadow-color);
  cursor: pointer;
  border-radius: 0.3rem;
  transition: all 0.3s;
  /* box-shadow: 0 0 2rem #aaaaaa; */
}
.btn:hover {
  scale: 105%;
  background-color: var(--secondary-bg-color);
}
.btn:active {
  scale: 95%;
}
.slider-btn-icon {
  color: var(--primary-bg-color);
  width: 4rem;
  height: 4rem;
  padding: 1rem 0;
}

.btn-prev {
  /* top: 50%; */
  left: 6%;
}

.btn-next {
  /* top: 50%; */
  right: 6%;
}

/* ---- PRICING ---- */
.pricing-title {
  margin-bottom: 6.4rem;
}
.pricing {
  padding: 3rem;
}
.pricing-options {
  display: grid;
  grid-template-columns: 1fr 1.2fr 1fr;
  gap: 3.2rem;
  width: 100%;
  padding: 0;
}

.pricing-card {
  background-color: var(--primary-bg-color);
  position: relative;
  height: 35rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 3rem #d3d3d3;
  transition: all 0.3s;
}
.pricing-card:hover {
  transform: translateY(-1rem);
  cursor: pointer;
  box-shadow: 0 0 5rem #dedede;
  transition: all 0.3s;
}
.pricing-card > p {
  transition: all 0.5s;
}

.pricing-card:hover > p {
  color: var(--tertiary-text-color);
}
.pricing-card-title {
  font-size: 2.4rem;
  font-weight: 600;
  padding: 2.4rem;
  color: #c1c2c1;
  margin-bottom: 2rem;
  text-transform: uppercase;
}
.pricing-card-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.4rem;
  color: var(--tertiary-text-color);
  font-weight: 600;
}
.pricing-card-list li {
  margin-bottom: 1.5rem;
}
.price-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-bg-color);
  text-align: center;
  padding: 1.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
}
.price-tag {
  font-size: 2.4rem;
  color: #c1c2c1;
}

.pricing-card-recommended {
  /* position: relative; */
  border-radius: 0 0 0.5rem 0.5rem;
  z-index: 4;
  /* height: 39rem; */
  /* transform: translateY(-3.5rem); */
}
.recommended-price {
  /* position: absolute; */
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 1.4rem;
  font-weight: 600;
  top: -4rem;
  width: 100%;
  height: 4rem;
  color: var(--accent-color);
  background-color: var(--secondary-bg-color);
  border-radius: 0.5rem 0.5rem 0 0;
  box-shadow: 0 0 4rem #d4d4d4;
}

/* ---- CTA ---- */
.CTA{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.call-to-action {
  position: relative;
  max-width: 100rem;
  display: grid;
  padding: 0;
  grid-template-columns: 1fr 1fr 1.5fr;
  grid-template-rows: 1fr 4fr;
  height: 30rem;
  background-color: var(--tertiary-bg-color);
  border-radius: 0.5rem;
  margin: 4.8rem auto;
}

.CTA-title {
  grid-column: 1 / 3;
  grid-row: 1/2;
  align-self: center;
  /* justify-self: center; */
  padding: 0 3rem;
  color: var(--primary-text-color);
}
.CTA-form {
  grid-column: 1/3;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  gap: 2rem;
  padding: 2rem 3rem;
}
.cta-item {
  height: 5rem;
  font-size: 1.6rem;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  transition: all 0.3s;
  z-index: 6;
}
.cta-item:hover {
  background-color: #c1c2c1;
  border: none;
}
.cta-item:focus {
  background-color: #c1c2c1;
  box-shadow: 0 0 2rem #909090;
  border: none;
  outline: none;
  color: #000;
  scale: 101%;
}
.CTA-btn {
  height: 5rem;
  font-size: 1.6rem;
  padding: 2rem;
  border-radius: 0.5rem;
  width: 100%;
  border: none;
  background-color: #787878;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s;
  font-weight: 600;
  letter-spacing: 0.2rem;
  color: var(--secondary-text-color);
}
.CTA-btn:hover {
  background-color: var(--accent-color);
  box-shadow: 0 0 4rem #909090;
  color: var(--tertiary-text-color);
  cursor: pointer;
  scale: 101%;
}
.CTA-btn:active {
  scale: 99%;
  box-shadow: 0 0 1rem #9d9d9d;
  /* background-color: var(--primary-bg-color); */
}
.footer-staff-pic {
  background-image: linear-gradient(
      to bottom,
      rgba(207, 207, 207, 0.2),
      rgba(207, 207, 207, 0.2)
    ),
    url("../img/ShutterFlare-imgs/foto-4.jpg");
  background-size: cover;
  height: 30rem;
  grid-row: -4 /-1;
  width: 100%;
  height: 100%;
  border-radius: 0 0.5rem 0.5rem 0;
  object-fit: cover;
}

/* ---- FOOTER ---- */
.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25rem;
  color: var(--primary-bg-color);
  font-size: 1.2rem;
  background-color: var(--secondary-bg-color);
}
.footer-grid {
  /* padding: 3rem; */
  display: grid;
  gap: 0.5rem;
  width: 200rem;
  padding-left: 4.8rem;
  padding-right: 4.8rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  background-color: var(--secondary-bg-color);
}
.social-media-icon-box {
  display: flex;
  gap: 2rem;
  grid-row: 2/3;
  align-self: center;
}
.secondary-logo {
  height: 5rem;
}

.social-icon {
  height: 2.4rem;
  fill: red;
}

.email {
  align-self: center;
  grid-column: 3/4;
  grid-row: 1/2;
  justify-self: flex-end;
}

.address {
  align-self: center;
  grid-column: 3/4;
  justify-self: flex-end;
}
.copyright {
  align-self: center;
  justify-self: flex-end;
  grid-column: 3/4;
}

/* error div */

.error {
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgba(60, 60, 60, 0.6);
  backdrop-filter: blur(8px);
  color: var(--primary-bg-color);
  font-size: 1.6rem;
  border-radius: 0.5rem;
    opacity: 0;
  transition: all 0.3s;
}
/* success div */

.success {
 position: absolute;
  z-index: 20;
  width: 100%;
 height: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background-color: rgba(60, 60, 60, 0.6);
  backdrop-filter: blur(8px);
  color: var(--primary-bg-color);
  font-size: 1.6rem;
  border-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s;
}
.active{
  opacity: 1;
}
